@font-face {
    font-family: "vazir";
    src: url(/font/Vazir-Light.woff2);
}
body {
    background-color: #d8f3dc54;
    font-family: "vazir";
    color: #333;
}
a{
    text-decoration: none;
    color: #333;
}
.container {
    width: 800px;
}
.header-custom {
    background-color: #1B4332;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
}
.header-custom div .right-header i {
    color: white;
    font-size: 1.7rem;
}
.header-custom div .left-header a i {
    color: white;
    font-size: 1.5rem;
}

.title-icon {
    width: 4px;
    height: 30px;
    background-color: #1B4332;
}
.tiltle-tex {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 5px;
}
.calc {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #d8d8d8;
}

.alert-success-custom {
    border-left: 4px solid #1B4332;
    color: #1B4332;
    border-radius: 8px;
    font-size: 0.87rem;
    background-color: #D8F3DC;
}
.alert-success-custom p {
    margin: 0;
    padding-right: 0.5rem;
}
.calc .calc-box .top-box p {
    font-size: 0.9rem;
}
.calc .calc-box .btm-box {
    width: 100%;
}


.dropdown-custom button {
    height: 50px;
    align-items: center;
    border: 1px solid #dbdbdb;
    background-color: white;
    position: relative;
}
.top-input {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: 20px;
    background-color: white;
    width: 40px;
    height: 20px;
    z-index: 10;
    color: #dbdbdb;
}
.dropdown-custom button:hover {
    background-color: rgb(240, 240, 240);
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-toggle:focus,
.dropdown-toggle:active {
    background-color: white;
}
.dropdown-custom .dropdown-menu {
    max-height: 200px;
    overflow: auto;
}
.input-group {
    width: 100%;
    align-items: center;
    height: 50px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-top: 30px;
}
.top-input-2 {
    position: absolute;
    background-color: white;
    width: 100px;
    display: flex;
    justify-content: center;
    height: 20px;
    font-family: 0.8rem;
    color: #dbdbdb;
    top: -13px;
    right: 20px;
    z-index: 10;
}

.input-group .input-group-text {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 2rem;
    font-weight: bold;
}
.input-group .form-control {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}
.btn-custom {
    width: 200px;
    height: 50px;
    background-color: #1B4332;
    border-radius: 20px;
    color: white;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btm-2 {
    width: 100%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #d8d8d8;
    margin-top: 15px;
}


.item-card {
    width: 150px;
    padding: 1rem;
    border: none;
    flex: 0 0 auto;
}
.item-card img {
    width: 75px;
    margin-bottom: 20px;
}
.item-card p{
    font-size: 1rem;
}
@media (max-width: 767px) {
    .item-card {
      width: 90px;
      padding: 0.8rem;
    }
    .item-card img {
        width: 50px;
        margin-bottom: 20px;
    }
    .item-card p{
        font-size: 0.8rem;
    }
    .container {
        width: 375px;
    }
  }
